[submodule "projects/DatabaseConnect"]
	path = projects/DatabaseConnect
	url = https://github.com/BigData2026QDU/DatabaseConnectModule.git
[submodule "AGENTS"]
	path = AGENTS
	url = https://github.com/BigData2026QDU/AGENTS.git
[submodule "projects/JsonUtilModule"]
	path = projects/JsonUtilModule
	url = https://github.com/BigData2026QDU/JsonUtilModule.git
[submodule "projects/ObjectPoolModule"]
	path = projects/ObjectPoolModule
	url = https://github.com/BigData2026QDU/ObjectPoolModule.git
[submodule "projects/WebMain"]
	path = projects/WebMain
	url = https://github.com/BigData2026QDU/WebMain.git
