[submodule "projects/DatabaseConnect"]
	path = projects/DatabaseConnect
	url = https://github.com/BigData2026QDU/DatabaseConnectModule.git
[submodule "AGENTS"]
	path = AGENTS
	url = https://github.com/BigData2026QDU/AGENTS.git
