[submodule "projects/DatabaseConnect"]
	path = projects/DatabaseConnect
	url = https://github.com/BigData2026QDU/DatabaseConnectModule.git
[submodule "projects/AGENTS"]
	path = projects/AGENTS
	url = https://github.com/BigData2026QDU/AGENTS
